[Unit]
Description=Init script for Kali
After=network.target

[Service]
Type=simple
Restart=no
User=root
ExecStart=/root/init.sh

[Install]
WantedBy=multi-user.target