fish_config theme choose "Dracula Official"
if status is-interactive
    # Commands to run in interactive sessions can go here
    set --universal fish_greeting ""
    set --universal tide_prompt_add_newline_before "false"
    set --universal tide_left_prompt_items character space context pwd git
    set --universal tide_left_prompt_suffix ''
    set --universal tide_right_prompt_items status cmd_duration jobs php go time
    set --universal tide_time_format "%d/%m/%y %T"
    set --universal tide_context_always_display "true"
    set --universal tide_context_color_default "FF79C6"
    set --universal tide_time_color "50FA7B"
    set --universal tide_cmd_duration_color "F1FA8C"
    set --universal tide_pwd_color_dirs "BD93F9"
    set --universal tide_pwd_color_truncated_dirs "BD93F9"
    set --universal tide_pwd_color_anchors "BD93F9"
    set --universal tide_character_color "50FA7B"
    set --universal tide_character_color_failure "FF5555"
    set --universal tide_cmd_duration_icon ""
    set --universal tide_pwn_icon ""
    set -gx TERM screen-256color
    set -Ux EDITOR nvim
    set -Ux FZF_DEFAULT_OPTS "--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4"
    alias vim="nvim"
    alias cat="batcat"
    alias catp="batcat --plain"
    alias bat="batcat"
    alias ip="ip --color=auto"
    alias tmux-save="tmux capture-pane -epS - > /home/{{ ansible_user }}/Documents/tmux/$(date +'%s')-pane-history.txt"
    alias tmux-save-plain="tmux capture-pane -pS - > /home/{{ ansible_user }}/Documents/tmux/$(date +'%s')-pane-history-plain.txt"
    alias cme="crackmapexec"
    alias ferox-proxy="feroxbuster --thorough -k --proxy "

    function tmux-save-name; 
        tmux capture-pane -epS - > /home/{{ ansible_user }}/Documents/tmux/$argv.txt; 
    end

    function ligolo-start; 
        sudo ip tuntap add user {{ ansible_user }} mode tun ligolo;
        sudo ip link set ligolo up;
        sudo /home/{{ ansible_user }}/Documents/Host/Ligolo/Proxy/Linux/proxy $argv;
    end
end