[Autologin]
Relogin=false
Session=
User=

[General]
HaltCommand=
RebootCommand=
background=/usr/share/sddm/themes/breeze/{{ configure_kde_wallpaper }}

[Theme]
Current=breeze

[Users]
MaximumUid=60000
MinimumUid=1000
