[Desktop Entry]
Comment[en_GB]=AciDev
Comment=AciDev
Exec={{ configure_kde_home }}/Documents/Build/Kali-VMware-Fixes/suid-vm-tools
GenericName[en_GB]=Fixes for VM's
GenericName=Fixes for VM's
Icon=
MimeType=
Name[en_GB]=suid-vm-tools
Name=suid-vm-tools
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
