[Desktop Entry]
Comment[en_GB]=AciDev
Comment=AciDev
Exec={{ configure_kde_home }}/wallpaper.sh
GenericName[en_GB]=Changes the users wallpaper and then kills the service
GenericName=Changes the users wallpaper and then kills the service
Icon=dialog-scripts
MimeType=
Name[en_GB]=Wallpaper_Changer
Name=Wallpaper_Changer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=